html, body{
    height: 100vh;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
}
.leaflet-popup-tip{
    display: none;
}
#wrapper{
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}
#map{
    flex: 2 1 auto;
    position: relative;
    z-index: 1;
}
h1, h3{
    font-family: "Righteous";
    text-align: center;
    color: #666600;
}
#logo{
    padding-left: 45px;
    background-color: transparent;
}
#panel{
    background-color: lightgoldenrodyellow; 
}
.subtitle{
    font-family: "Amiko";
    text-align: center;
}
.edit-info{
    font-family: "Amiko";
    text-align: center;
}
.btn-blount{
    background-color: #0099CC;
    color: white;
    border: 2px solid #0099CC;
    border-radius: 6px;
    font-family: "Amiko";
}
.btn-blount:hover{
    background-color: transparent;
    color: black;
    font-family: "Amiko";
}
.btn-cocke{
    background-color: #0099CC;
    color: white;
    border: 2px solid #0099CC;
    border-radius: 6px;
    font-family: "Amiko";
}
.btn-cocke:hover{
    background-color: transparent;
    color: black;
    font-family: "Amiko";
}
.btn-haywood{
    background-color: #0099CC;
    color: white;
    border: 2px solid #0099CC;
    border-radius: 6px;
    font-family: "Amiko";
}
.btn-haywood:hover{
    background-color: transparent;
    color: black;
    font-family: "Amiko";
}
.btn-sevier{
    background-color: #0099CC;
    color: white;
    border: 2px solid #0099CC;
    border-radius: 6px;
    font-family: "Amiko";
}
.btn-sevier:hover{
    background-color: transparent;
    color: black;
    font-family: "Amiko";
}
.btn-swain{
    background-color: #0099CC;
    color: white;
    border: 2px solid #0099CC;
    border-radius: 6px;
    font-family: "Amiko";
}
.btn-swain:hover{
    background-color: transparent;
    color: black;
    font-family: "Amiko";
}
.btn-reset{
    background-color: #0099CC;
    color: white;
    border: 2px solid #0099CC;
    border-radius: 6px;
    font-family: "Amiko";
}
.btn-reset:hover{
    background-color: transparent;
    color: black;
    font-family: "Amiko";
}
.button{
    padding-left: 15px;
}
.edit_button{
    padding-left: 105px;
}
.btn-start{
    background-color: rosybrown;
    color: white;
    border: 2px solid rosybrown;
    border-radius: 6px;
    font-family: "Amiko";
}
.btn-start:hover{
    background-color: transparent;
    color: black;
    font-family: "Amiko";
}
.btn-end{
    background-color: rosybrown;
    color: white;
    border: 2px solid rosybrown;
    border-radius: 6px;
    font-family: "Amiko";
}
.btn-end:hover{
    background-color: transparent;
    color: black;
    font-family: "Amiko";
}
#form{
    z-index: 2;
}
.custom-popup .leaflet-popup-content-wrapper{
    background:#666600;
    color:#fff;
    font-size:14px;
    font-family: 'Amiko';
    border-radius: 6px;
}
.custom-popup .leaflet-popup-content-wrapper a {
    color:rgba(255,255,255,0.1);
}


@media screen and (max-width: 768px) and (orientation: portrait){
    #wrapper{
        flex-direction: column;
    }
    #map{
        flex: 2 1 auto;
        order: 1;
        margin: 0;
        min-height: 75vh;
    }
    #panel{
        order: 2;
        max-width: 100%;
        overflow: auto;
    }
    .button{
        padding-left: 120px;
    }
    .edit_button{
        padding-left: 180px;
    }
    #logo{
        display: none;
    }
}

@media screen and (max-width: 768px) and (orientation: landscape){
    #wrapper{
        flex-direction: column;
    }
    #map{
        flex: 2 1 auto;
        order: 1;
        margin: 0;
        min-height: 75vh;
    }
    #panel{
        order: 2;
        max-width: 100%;
        overflow: auto;
    }
    .button{
        padding-left: 130px;
    }
    .edit_button{
        padding-left: 230px;
    }
    #logo{
        display: none;
    }
}